.admin-panel {
  table-layout: auto;
}

.admin-panel th {
  cursor: pointer;
  outline: none;
}

.admin-panel td {
  white-space: nowrap;
}

.admin-panel .col-content,
.admin-panel .col-title {
  width: 20%;
  max-width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-panel .row-censured {
  background: #f7e6e6;
}